* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #00c4c4, #5375b4, #3b2570);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.todoApp {
  max-width: 540px;
  background: #ccc;
  padding: 40px 30px 70px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.todoApp h2 {
  color: #3b2570;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

#input-box {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  width: 100vw;
  font-size: 16px;
}

#submit-button {
  border: none;
  outline: none;
  padding: 6px 30px;
  background: linear-gradient(to right, #00000000, #55aaaa, #43cccc);
  color: white;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}

#list-container li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

#list-container li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("../img/unchecked.png");
  background-size: cover;
  left: 8px;
  top: 5px;
}

#list-container .checked {
  color: #555;
  text-decoration: line-through;
}

#list-container .checked::before {
  background-image: url("../img/checked.png");
}

#list-container li i {
  width: 26px;
  height: 26px;
  font-size: 16px;
  color: #555;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

#list-container li i:hover {
  background-color: #bbb;
}

#list-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  border-bottom: 1px solid #3b2570;
}

#alert {
  background-color: #e95b5b;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid darkred;
  margin-bottom: 5px;
}

#hidden {
  display: none;
}

.fa-circle-exclamation {
  color: darkred;
  background-color: white;
  border-radius: 100%;
}

.fa-circle-plus {
  font-size: 35px;
}
